.pic-size{
    width: 500px;
    height: auto;
}

.description{
    background-color: #799fe6;
}

.cool-font{
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.title-font{
    font-family: "Lucida Handwriting", sans-serif;
}